<md-content flex layout="row" layout-align="center center">
		<div flex-sm="80" flex-gt-sm="60" layout="column" class="register-container">
				<md-whiteframe class="md-whiteframe-1dp">
						<md-content class="md-padding">
								<div flex layout="column" layout-align="center center" md-accent-color>
										<img class="outterpage-logo" src="assets/images/logo-new.png"/>
										<div layout="row">
												<md-input-container class="no-mrg">
														<md-button class="md-fab md-primary" ng-class="{'active-step': step == 1}" aria-label="Use Android">
																1
														</md-button>
												</md-input-container>
												<md-input-container layout="row" class="no-mrg" layout-align="center center">
														-
												</md-input-container>
												<md-input-container class="no-mrg">
														<md-button class="md-fab md-primary" ng-click="selectStep(2)" ng-class="{'active-step': step == 2}" ng-disabled="step < 2" aria-label="Use Android">
																2
														</md-button>
												</md-input-container>
												<md-input-container layout="row" class="no-mrg" layout-align="center center">
														-
												</md-input-container>
												<md-input-container class="no-mrg">
														<md-button class="md-fab md-primary" ng-click="selectStep(3)" ng-class="{'active-step': step == 3}" ng-disabled="step < 3" aria-label="Use Android">
																3
														</md-button>
												</md-input-container>
										</div>
								</div>
								<div ng-form="formStepOne" ng-if="step == 1" layout="column">
										<div layout="row">
												<md-input-container flex>
														<label>User Type</label>
														<md-select ng-model="data.selectedUserType" required ng-change="changeUserType()" placeholder="Select user type">
																<md-option ng-value="type" ng-repeat="type in userTypes">{{ type.name }}</md-option>
														</md-select>
												</md-input-container>
										</div>
										<div layout="row" flex>
												<md-input-container flex>
														<label>First name</label>
														<input type="text" ng-model="user.first_name" required>
												</md-input-container>
												<md-input-container flex>
														<label>Last name</label>
														<input type="text" ng-model="user.last_name" required>
												</md-input-container>
										</div>
										<md-input-container flex>
												<label>Email</label>
												<input type="text"
															 ng-model="user.email"
															 required
															 ng-blur="checkEmail(user.email)"
															 ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
										</md-input-container>
										<md-input-container flex>
												<label>Password</label>
												<input type="password" ng-minlength="6" ng-model="user.password" required>
												<em>* minimum 6 characters long</em>
										</md-input-container>
										<md-input-container flex>
												<label>Repeat Password</label>
												<input type="password" ng-minlength="6" ng-model="user.password_confirmation" required>
										</md-input-container>
										<md-button class="md-raised md-primary" type="submit" pull-right ng-click="registerUser()" ng-disabled="formStepOne.$invalid || user.password != user.password_confirmation || loading">
												<span ng-show="!loading">Next</span>
												<span ng-show="loading"><i class="fa fa-cog fa-spin"></i> Please wait...</span>
										</md-button>
								</div>
								<div ng-form="formStepTwo" ng-if="step == 2" layout="column" flex>
										<div layout="column" ng-if="data.selectedUserType.id == 1">
												<md-input-container flex>
														<label>Merchant's Name</label>
														<input type="text" ng-model="userType.name" required>
												</md-input-container>
												<div layout="row">
														<div flex>
																<md-autocomplete md-selected-item="data.selectedArea"
																								 md-search-text="data.searchAreaText"
																								 md-selected-item-change="selectArea(area)"
																								 md-items="area in loadArea(data.searchAreaText)"
																								 md-item-text="area.name"
																								 required
																								 md-delay="300"
																								 md-min-length="0"
																								 md-require-match
																								 md-floating-label="Area">
																		<md-item-template>
																				<span md-highlight-text="data.searchAreaText">{{area.name}}</span>
																		</md-item-template>
																		<md-not-found>
																				No matching "{{data.searchAreaText}}" areas were found.
																		</md-not-found>
																</md-autocomplete>
														</div>
														<div flex layout="row">
																<md-autocomplete flex md-selected-item="data.selectedShoppingCenter"
																								 md-no-cache="true"
																								 md-search-text="data.searchTextShoppingCenter"
																								 md-selected-item-change="selectShoppingCenter(shoppingCenter)"
																								 md-items="shoppingCenter in loadShoppingCenters(data.searchTextShoppingCenter)"
																								 md-item-text="shoppingCenter.name"
																								 md-require-match
																								 md-delay="300"
																								 md-min-length="0"
																								 md-floating-label="Shopping Center">
																		<md-item-template>
																				<span md-highlight-text="data.searchTextShoppingCenter">{{shoppingCenter.name}}</span>
																		</md-item-template>
																		<md-not-found>
																				No matching "{{data.searchTextShoppingCenter}}" shopping center were found.
																		</md-not-found>
																</md-autocomplete>
														</div>
														<md-input-container flex ng-if="!userType.shopping_center_id">
																<label>Shopping Center Name</label>
																<input type="text" ng-model="userType.shopping_center_name" ng-required="!userType.shopping_center_id">
														</md-input-container>
													</div>
												<div layout="row">
														<md-input-container flex>
																<label>ZIP</label>
																<input type="text" ng-change="geoLocationByZip(userType.zip)" ng-model="userType.zip" ng-required="!userType.shopping_center_id">
														</md-input-container>
														<md-input-container flex>
																<label>City Name</label>
																<input type="text" ng-model="userType.city" ng-disabled="loadingByZip" ng-required="!userType.shopping_center_id">
														</md-input-container>
														<md-input-container flex>
																<label>Address</label>
																<input type="text" ng-model="userType.address" ng-disabled="loadingByZip" ng-required="!userType.shopping_center_id">
														</md-input-container>
												</div>
												<div layout="row">
														<md-input-container flex>
																<label>Phone</label>
																<input type="text" ng-minlength="6" ng-model="userType.phone"/>
														</md-input-container>
														<md-input-container flex>
																<label>Website</label>
																<input type="text" placeholder="http://www.example.com" ng-model="userType.website"/>
														</md-input-container>
												</div>
												<div layout="row">
														<md-input-container flex>
																<label>Categories</label>
																<tags-input ng-model="userType.categories"
																						key-property="id"
																						placeholder="Add Category"
																						display-property="name"
																						add-from-autocomplete-only="true"
																						replace-spaces-with-dashes="false"
																						max-results-to-show="10">
																		<auto-complete debounce-delay="100"
																									 source="loadCategories($query)"
																									 load-on-empty="true"
																									 min-length="0"
																									 load-on-focus="true">
																		</auto-complete>
																</tags-input>
														</md-input-container>
												</div>
										</div>
										<div layout="column" ng-if="data.selectedUserType.id == 2">
												<div layout="row">
														<md-input-container flex>
																<label>Shopping Center Name</label>
																<input type="text" ng-model="userType.name" required>
														</md-input-container>
														<div flex>
																<md-autocomplete md-selected-item="data.selectedArea"
																								 md-search-text="data.searchAreaText"
																								 md-selected-item-change="selectArea(area)"
																								 md-items="area in loadArea(data.searchAreaText)"
																								 md-item-text="area.name"
																								 required
																								 md-delay="300"
																								 md-min-length="0"
																								 md-require-match
																								 md-floating-label="Area">
																		<md-item-template>
																				<span md-highlight-text="data.searchAreaText">{{area.name}}</span>
																		</md-item-template>
																		<md-not-found>
																				No matching "{{data.searchAreaText}}" areas were found.
																		</md-not-found>
																</md-autocomplete>
														</div>
												</div>
												<div layout="row">
														<md-input-container flex>
																<label>Description</label>
																<textarea rows="2" type="text" ng-model="userType.description" required></textarea>
														</md-input-container>
												</div>
												<div layout="row">
														<md-input-container flex>
																<label>ZIP</label>
																<input type="text" ng-model="userType.zip" ng-change="geoLocationByZip(userType.zip)" ng-required="!userType.shopping_center_id">
														</md-input-container>
														<md-input-container flex>
																<label>City Name</label>
																<input type="text" ng-model="userType.city" ng-disabled="loadingByZip" ng-required="!userType.shopping_center_id">
														</md-input-container>
														<md-input-container flex>
																<label>Address</label>
																<input type="text" ng-model="userType.address" ng-disabled="loadingByZip" ng-required="!userType.shopping_center_id">
														</md-input-container>
												</div>
												<div layout="row">
														<md-input-container flex>
																<label>Website</label>
																<input type="text" placeholder="http://www.example.com" ng-model="userType.website"/>
														</md-input-container>
												</div>
												<md-button class="md-raised md-primary" ng-click="openTimeModal($event)">Set Shopping Center working hours</md-button>
										</div>
										<md-button class="md-raised md-primary" type="button" ng-click="register()" pull-right ng-disabled="formStepTwo.$invalid || loading || !data.selectedUserType">
												<span ng-show="!loading">Register</span>
												<span ng-show="loading"><i class="fa fa-cog fa-spin"></i> Please wait...</span>
										</md-button>
								</div>
								<div ng-form="formStepThree" ng-if="step == 3" layout="column" class="text-center">
										<p>Thank you!</p>
										<p>Your registration has been submitted and your {{data.selectedUserType.id == 1 ? 'Merchant' : 'Shopping center'}} account is waiting for activation. </p>
										<p>After you received activation link on e-mail you can start adding coupons.</p>
										<md-button class="md-raised md-primary" type="button" ui-sref="login" class="pull-right">OK</md-button>
								</div>
						</md-content>
				</md-whiteframe>
		</div>
</md-content>
