<!-- <md-dialog aria-label="Modal" flex> -->
<div flex layout="column">
    <span class="padding-bottom table-title">
        Change password for {{user.first_name}} {{user.last_name}}
    </span>
    <form name="form">
        <!-- <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change password for {{user.first_name}} {{user.last_name}}</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa" md-font-icon="fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar> -->
        <md-content flex layout="column" layout-padding>
            <div layout="column">
                <div layout="row" ng-if="session.role != 'admin'">
                    <md-input-container flex>
                        <label>Old password</label>
                        <input ng-model="model.old_password" required type="password">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>New Password</label>
                        <input ng-minlength="6" ng-model="model.password" required type="password">
                    </md-input-container>
                </div>
                <em>* minimum 6 characters long</em>
                <div layout="row">
                    <md-input-container flex>
                        <label>Confirm Password</label>
                        <input ng-minlength="6" ng-model="model.password_confirmation" required type="password">
                    </md-input-container>
                </div>
            </div>
        </md-content>
        <section layout="row">
            <!-- <md-button type="button" class="md-raised" ng-click="cancel()">Back</md-button> -->
            <md-button type="submit" ng-click="save()" class="md-raised md-primary" ng-disabled="form.$invalid || loading || model.password != model.password_confirmation">
                <span ng-show="loading">Please wait...</span>
                <span ng-show="!loading"><span class="icon-lic-update btn-icon"></span>Update</span>
            </md-button>
        </section>
    </form>
</div>
<!-- </md-dialog> -->
