<!-- <md-dialog aria-label="Modal" flex> -->
<div flex layout="column">
    <span class="padding-bottom table-title">
        User {{user.id ? profileText : 'Add'}}
    </span>
    <form name="form">
        <!-- <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User {{user.id ? 'Edit' : 'Add'}}</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa" md-font-icon="fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar> -->
        <md-content flex layout="column" layout-padding>
            <div layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label>First Name</label>
                        <input ng-model="user.first_name" required type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="user.last_name" required type="text">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Email</label>
                        <input required ng-model="user.email" type="text" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                    </md-input-container>
                </div>
                <!-- <div layout="row">
                    <md-input-container flex>
                        <label>Password</label>
                        <input ng-required="!user.id" ng-minlength="6" ng-model="user.password" type="password">
                        <em>* minimum 6 characters long</em>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Password Confirmation</label>
                        <input ng-required="!user.id" ng-model="user.password_confirmation" type="password" ng-minlength="6">
                    </md-input-container>
                </div> -->
                <div layout="row" ng-if="user.type == 3 && user.id == session.user_id">
                    <md-switch ng-model="user.notifications" ng-true-value="1" ng-false-value="0" aria-label="Email notification">
                        Email notification: {{ user.notifications ? 'Yes' : 'No'}}
                    </md-switch>
                </div>
            </div>
        </md-content>
        <section layout="row">
            <!-- <md-button type="button" class="md-raised" ng-click="cancel()">Back</md-button> -->
            <md-button type="submit" ng-click="save()" class="md-raised md-primary" ng-disabled="form.$invalid || loading || user.password != user.password_confirmation">
                <span ng-show="loading">Please wait...</span>
                <span ng-show="!loading && user.id"><span class="icon-lic-update btn-icon"></span>Update</span>
                <span ng-show="!loading && !user.id">Add</span>
            </md-button>
        </section>
    </form>
</div>



<!-- </md-dialog> -->
