<md-content flex layout="row" layout-align="center center">
    <div flex-sm="80" flex-gt-sm="60" layout="column" layout-padding>
        <md-whiteframe class="md-whiteframe-1dp">
						<div flex layout="row" layout-align="center center" md-primary-color>
								<img class="outterpage-logo" src="assets/images/logo-new.png" />
						</div>
						<form name="form" layout="column" ng-if="!success">
								<md-input-container flex>
										<label>New password</label>
										<input type="password"
													 ng-model="data.password"
													 ng-minlength="6"
													 required>
										<em>* minimum 6 characters long</em>
								</md-input-container>
								<md-input-container flex class="password-container">
										<label>Confirm password</label>
										<input type="password" ng-model="data.password_confirmation" required>
								</md-input-container>
								<md-button class="md-raised md-primary" type="button" ng-click="changePassword()" pull-right ng-disabled="form.$invalid || loading || (data.password != data.password_confirmation)">
										<span ng-show="!loading">Change password</span>
										<span ng-show="loading"><i class="fa fa-cog fa-spin"></i> Please wait..</span>
								</md-button>
						</form>
            <div ng-if="!loading && success" class="text-center">
                <h3>You have successfully changed your password!</h3>
                <h3>Thank you!</h3>
                <md-button class="md-raised md-primary" type="button" ui-sref="login">Login</md-button>
            </div>
        </md-whiteframe>
    </div>
</md-content>
